.row
  .col-md-9
    - if runner.show_welcome_banner?
      = partial :welcome
    - else
      = partial :regular

  .col-md-3
    .card.text-sm-center.my-profile
      .card-block
        = image_tag runner.image, class: "rounded-circle"
        %h5= runner.name
        %p= runner.bio

        = link_to "View your profile", "/runners/profile/", class: "btn btn-info"

        %hr
        
        %dl.row.text-sm-left
          %dt.col-sm-6 Runs
          %dd.col-sm-6= runner.runs
          %dt.col-sm-6 Good deeds
          %dd.col-sm-6= runner.runs
          %dt.col-sm-6 Cheers
          %dd.col-sm-6= runner.cheers

        %ul.badges
          - runner.badges.each do |slug, name|
            %li.badge{ class: slug }
              = image_tag("http://goodgym-production.s3.amazonaws.com/badges/#{slug}.png", title: name)
              %span.sr-only= name

    - unless runner.wants_coach?
      .card
        .run-cta
          = image_tag "coach.jpg"
          %h5 Your coach
        .card-block
          %p
            GoodGym pairs runners with older people that are feeling isolated or
            lonely and that would really benefit from a friendly visit once a week.
          = link_to "Get Started", "/my/coach", class: "btn btn-primary btn-block"
