---
---

.run-splash
  .run-splash-image
    = image_tag("group-run.jpg", class: "img-fluid")
    .slash
  .run-splash-caption
    .container
      %h1.strong Group runs
      %p
        We run in a group to a local organisation that needs help, complete a
        task like painting a fence or planing a tree, have a fun fitness session,
        and run back in 90 minutes. All fitness levels are welcome and we never
        leave anyone behind.

.container
  .run-infographic
    %h2 These are the steps to reaching your running goal

    .media-container
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step one
          %h4.strong Run
          %p We organise weekly group runs which are like flash mobs for good
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step two
          %h4.strong Help
          %p We run to community organisations and help them with tasks such as gardening or renovating.
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step three
          %h4.strong Run
          %p We like to have fun and run home. <strike>Sometimes treating ourselves to a lemonade in the local pub</strike>.
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step four
          %h4.strong Stretch
          %p Looking after you is also important to us. We have a certified trainer who leads the runs and makes sure you reach your goals

  .text-xs-center
    %h2.strong Our trainers
    %p.lead These trainers will help you through your run

    = partial("shared/carousel", locals: { things: my_data(:trainers) })
