---

---

.run-splash
  .run-splash-image
    = image_tag("coach.jpg", class: "img-fluid")
    .slash
  .run-splash-caption
    .container
      %h1.strong Run to an older person
      %p
        We are paired with older people and we run to them for a social visit.
        We call then our coach because they are our reason to run when we
        might not feel like it. Over 10% of older people are always or often
        lonely. You could be the visitor who brings the outside world to them.

.container
  %section.section-title
    %h2 These are the steps to reaching your running goal

  .run-infographic
    .media-container
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step one
          %h4.strong Run
          %p Run there
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step two
          %h4.strong Hang out
          %p Hang out
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step three
          %h4.strong Run
          %p Run back
      .media
        .media-left
          = image_tag("running.svg", class: "media-object")
        .media-body
          %h3 Step four
          %h4.strong Report?
          %p Let us know how they're getting on?

  %section.section-title
    %h2 Some of our stories

  = partial("shared/carousel", locals: { things: my_data(:case_studies) })

  %section.section-title
    %h2 Sign up for a coach
    = link_to "Get a coach", "/signup", class: "btn btn-lg btn-primary"
