---
no_header: true
---

.home-splash
  .home-splash__login
    %i.fa.fa-grav
    = link_to("Sign in", login_path, class: "")

  .home-splash__headline
    %p= image_tag("goodgym_white.png")
    %h1 Do good, get fit
    %p
      We're a community of runners that combines getting fit with doing good.
      %br
      Join us and find your reason to run.

  .home-splash__reasons
    .row
      .home-splash__reason
        = link_to("/missions", class: "home-splash__reason-box") do
          .home-splash__reason-heading
            = image_tag "missions.jpg"
            %h2 Run Missions
          %p Run to help older people with one-off tasks
      .home-splash__reason.home-splash__reason--coaches
        = link_to("/coaches", class: "home-splash__reason-box") do
          .home-splash__reason-heading
            = image_tag "coach.jpg"
            %h2 Coach Run
          .home-splash__reason-body
            %p Run regularly to see an isolated older person
      .home-splash__reason
        = link_to("/group-runs", class: "home-splash__reason-box") do
          .home-splash__reason-heading
            = image_tag "group-run.jpg"
            %h2 Group Run
          .home-splash__reason-body
            %p Run with a group to help community projects

.about-goodgym
  .row
    .about-goodgym__logo
      = image_tag("goodgym_red.png")
    .about-goodgym__blurb
      %p
        We are a community of runners that combine getting fit with doing good.
        We stop off on our runs to do manual labour for community organisations
        and to support isolated older people with social visits and one-off
        tasks they can't do on their own.
        It's a great way to get fit, meet new people and do some good.
        As long as you're up for getting sweaty, everyone's welcome.
      %p= link_to("About GoodGym", about_path, class: "btn btn-primary")

.press
  .press__press-items
    %blockquote.press__press-item
      %h3
        = image_tag("press/evening-standard.png", alt: "Evening Standard", width: "200")
      %p
        If you're lacking motivation when it comes to fitness,
        why not get fit by accident?
    %blockquote.press__press-item
      %h3
        = image_tag("press/the-guardian.jpg", alt: "The Guardian")
      %p
        GoodGym offers an imaginative alternative to conventional gyms,
        tapping into the human potential of local communities.
    %blockquote.press__press-item
      %h3
        = image_tag("press/independent.png", alt: "The Independent", width: "200")
      %p
        Why burn energy in the gym when you could harness that effort to
        spruce up public spaces, or visit lonely pensioners?
  .press__press-items.hidden-sm-down
    %blockquote.press__press-item.offset-sm-2
      %h3
        = image_tag("press/financial-times.jpg", alt: "Financial Times", height: "50")
      %p
        The World's most innovative Aging projects.
    %blockquote.press__press-item
      %h3
        = image_tag("press/time-out.jpg", alt: "Time Out London", height: "50")
      %p
        An inspired way to experience the feelgood factor.
